<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/home.css')}}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static',filename='buh.ico')}}"
    />
    <title>Request Along - Error</title>
  </head>

  <body>
    <div class="title-wrapper">
      <h1 class="title">There has been an error!</h1>

      <h2>{{error}}</h2>
    </div>
</html>
