<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='styles/get-code.css')}}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static',filename='buh.ico')}}"
    />
    <title>Request Along - Oauth2</title>
  </head>
  <body>
    <div class="page-wrapper">
      <form
        action="{{ url_for('spotify.authenticate') }}"
        method="POST"
        class="auth-form"
      >
        <input
          name="redirect_url"
          type="text"
          placeholder="Paste the redirect URL here"
          required
          class="auth-input"
        />
        <button type="submit" class="auth-button">Authenticate</button>
      </form>
    </div>
  </body>
</html>
