<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      keywords="keywords"
      content="Twitch, Spotify, Python, Flask, Oauth2, Requests, API, Tailwind"
    />
    <meta name="Author" content="https://github.com/FlamingoLindo" />
    <meta name="description" content="Free Web tutorials" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/startup.css')}}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static',filename='buh.ico')}}"
    />
    <title>Request Along - Startup</title>
  </head>
  <body>
    <div class="page-wrapper">
      <form action="{{ url_for('spotify.start_oauth') }}" method="POST">
        <button type="submit" class="start-button">Start</button>
      </form>
    </div>
  </body>
  <span onclick=""></span>
</html>
