<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      keywords="keywords"
      content="Twitch, Spotify, Python, Flask, Oauth2, Requests, API, Tailwind"
    />
    <meta name="Author" content="https://github.com/FlamingoLindo" />
    <meta name="description" content="Free Web tutorials" />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/output.css')}}"
    />
    <title>Request-Along</title>
  </head>

  <body>
    <div class="text-orange-800">Welcome to Request Along</div>
  </body>
</html>
